.u-section-1 .u-sheet-1 {
  min-height: 464px;
}

.u-section-1 .u-table-1 {
  margin: 42px auto 42px 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
  height: 325px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: linear-gradient(#f9e79b, #f1c50e);
  text-transform: uppercase;
}

.u-section-1 .u-table-body-1 {
  font-weight: 400;
}

.u-block-b521-59 {
  height: 45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}