<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Iniciar-sesion.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Logear</servlet-name>
        <servlet-class>com.visiongeografica.visiongeograficafinance.servlet.Logear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Salir</servlet-name>
        <servlet-class>com.visiongeografica.visiongeograficafinance.servlet.Salir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Proyectos</servlet-name>
        <servlet-class>com.visiongeografica.visiongeograficafinance.servlet.Servlet_Proyectos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_PagosAll</servlet-name>
        <servlet-class>com.visiongeografica.visiongeograficafinance.servlet.Servlet_PagosAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_TipoGasto</servlet-name>
        <servlet-class>com.visiongeografica.visiongeograficafinance.servlet.Servlet_TipoGasto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Proveedores</servlet-name>
        <servlet-class>com.visiongeografica.visiongeograficafinance.servlet.Servlet_Proveedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Procedencias</servlet-name>
        <servlet-class>com.visiongeografica.visiongeograficafinance.servlet.Servlet_Procedencias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Proveedor_Nuevo</servlet-name>
        <servlet-class>com.visiongeografica.visiongeograficafinance.servlet.Servlet_Proveedor_Nuevo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Proveedor_Eliminar</servlet-name>
        <servlet-class>com.visiongeografica.visiongeograficafinance.servlet.Servlet_Proveedor_Eliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Proyecto_Nuevo</servlet-name>
        <servlet-class>com.visiongeografica.visiongeograficafinance.servlet.Servlet_Proyecto_Nuevo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Gasto_Nuevo</servlet-name>
        <servlet-class>com.visiongeografica.visiongeograficafinance.servlet.Servlet_Gasto_Nuevo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Pago_Nuevo</servlet-name>
        <servlet-class>com.visiongeografica.visiongeograficafinance.servlet.Servlet_Pago_Nuevo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Proyecto_Eliminar</servlet-name>
        <servlet-class>com.visiongeografica.visiongeograficafinance.servlet.Servlet_Proyecto_Eliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Gasto_Anular</servlet-name>
        <servlet-class>com.visiongeografica.visiongeograficafinance.servlet.Servlet_Gasto_Anular</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logear</servlet-name>
        <url-pattern>/Logear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Salir</servlet-name>
        <url-pattern>/Salir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Proyectos</servlet-name>
        <url-pattern>/Servlet_Proyectos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_PagosAll</servlet-name>
        <url-pattern>/Servlet_PagosAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_TipoGasto</servlet-name>
        <url-pattern>/Servlet_TipoGasto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Proveedores</servlet-name>
        <url-pattern>/Servlet_Proveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Procedencias</servlet-name>
        <url-pattern>/Servlet_Procedencias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Proveedor_Nuevo</servlet-name>
        <url-pattern>/Servlet_Proveedor_Nuevo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Proveedor_Eliminar</servlet-name>
        <url-pattern>/Servlet_Proveedor_Eliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Proyecto_Nuevo</servlet-name>
        <url-pattern>/Servlet_Proyecto_Nuevo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Gasto_Nuevo</servlet-name>
        <url-pattern>/Servlet_Gasto_Nuevo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Pago_Nuevo</servlet-name>
        <url-pattern>/Servlet_Pago_Nuevo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Proyecto_Eliminar</servlet-name>
        <url-pattern>/Servlet_Proyecto_Eliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Gasto_Anular</servlet-name>
        <url-pattern>/Servlet_Gasto_Anular</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
